
button {
	width: 12em;
	height: 3em;
	margin: 10px;
}

html{
	background: linear-gradient(to bottom, #595959 0%,#c6c6c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body{
	margin: 0 auto;
    position: relative;
    height: 60em;
    width: 50em;
    top: 200px;
    padding: 5em;
	border-top:solid #2581c3 8px;

	background: #EFF0EF;
	color: #303030;
	text-align: center;
	margin-top: 10%;
	font-family: sans-serif;

}

#content{
	margin: 0 auto;
    top: 0%;
    left: 50%;
    text-align: left;
    font-size:xx-large;
    font-weight: 600;
    color:#6d6d73;
}

#next-btn{
	position: absolute;
    right: -60px;
    top: 200px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#previous-btn{
	position: absolute;
    left: -60px;
    top: 200px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.label--checkbox,
.label--radio {
	display: block;
  position: relative;
  margin: .5rem;
  font-family: sans-serif;
  line-height: 135%;
  cursor: pointer;
  text-align:left;
  font-size:medium;
  font-weight: lighter;
}

#goto-survey-btn, #start-btn, #save-btn{
	margin-top:60px;
	color: white;
    background: #34a4f3;
    border-radius: 50px;
    width: 222px;
    font-size: x-large;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
}

div#content label:first-child {
    margin-top: 38px;
}






/*checkbox and radio btn*/

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid #16a085;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}

.radio {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.radio:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  background: #16a085;
  border-radius: 50%;
}
.radio:checked:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}



